.page {
	background-color: black;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	min-height: 100vh;
}

.title {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 2rem;
	/* text-transform: uppercase; */
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30rem;
	max-width: 80vw;
	margin-top: 2rem;

	perspective: 100rem;
	perspective-origin: left;
	position: relative;
}

.search {
	width: 100%;
	font-size: 1.25rem;
	border-radius: 2rem;
	/* padding: 1rem; */
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	box-sizing: border-box;
	border: none;
	outline: none;

	font-weight: bold;

	/* transform: rotateY(30deg) scaleX(calc(1 / cos(30deg)));
	transform-origin: 80%; */

	background-color: rgb(39, 39, 39);
	color: white;

	transition: all 0.3s ease;
}

.search::placeholder {
	color: rgba(255, 255, 255, 0.487);
}

.search:focus {
	/* background-color: #fff41c26; */
	background-color: rgb(109, 100, 61);
	box-shadow: rgba(255, 204, 0, 0.458) 0 0 2rem;
}

.search:focus + #champagne {
	opacity: 0.5;
}

#champagne {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	/* font-size: 1.5rem; */
	/* padding: 1rem; */
	height: 3.5rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#champagne > canvas {
	border-radius: 1rem;
	overflow: hidden;
}

/* .search:focus {
	transform: rotateY(0deg) scaleX(1);
} */

.newPartyButton {
	width: 30rem;
	max-width: 80vw;
	font-size: 1.5rem;
	border-radius: 1rem;
	padding: 1rem;
	box-sizing: border-box;
	border: none;
	outline: none;

	background-color: rgb(39, 39, 39);
	color: white;

	transition: all 0.3s ease;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
