:root {
	font-family: "Raleway", sans-serif;
}

.card {
	width: 30rem;
	max-width: 80vw;
	margin-top: 4rem;
}

.imageContainer {
	perspective: 100rem;
	position: relative;
	display: flex;
	justify-content: center;
	transition: all 0.3s ease;
}

.image {
	width: 100%;
	height: 12.5rem;
	object-fit: cover;

	margin-bottom: 2rem;

	border-radius: 1rem;
	transition: all 0.3s ease;

	box-shadow: #c11fd630 0.5rem 0.5rem 3rem, #52b3fb20 -0.5rem -0.5rem 3rem;
	animation: rotatingshadow 3s linear 0s infinite;

	filter: brightness(0.8);
}

@keyframes rotatingshadow {
	0% {
		box-shadow: #c11fd630 0.5rem 0.5rem 3rem, #52b3fb20 -0.5rem -0.5rem 3rem;
	}
	25% {
		box-shadow: #c11fd630 0.5rem -0.5rem 3rem, #52b3fb20 -0.5rem 0.5rem 3rem;
	}
	50% {
		box-shadow: #c11fd630 -0.5rem -0.5rem 3rem, #52b3fb20 0.5rem 0.5rem 3rem;
	}
	75% {
		box-shadow: #c11fd630 -0.5rem 0.5rem 3rem, #52b3fb20 0.5rem -0.5rem 3rem;
	}
	100% {
		box-shadow: #c11fd630 0.5rem 0.5rem 3rem, #52b3fb20 -0.5rem -0.5rem 3rem;
	}
}

.nameContainer {
	perspective: 50rem;
	position: absolute;
	transition: all 0.3s ease;

	text-align: center;
	width: 50%;
}

.name {
	padding: 1rem;
	box-sizing: border-box;
	background: -webkit-linear-gradient(0deg, #c21fd6, #8f64e9, #52b3fb);

	border-radius: 1rem;

	font-size: 1.5rem;

	transition: all 0.3s ease;

	font-weight: bold;

	background-size: cover;
}

.directionLeft .name {
	transform: rotateY(30deg);
}

.directionRight .name {
	transform: rotateY(-30deg);
}

.directionLeft .image {
	transform: rotateY(-30deg);
	transform: rotateY(-30deg) scaleX(calc(1 / cos(30deg)));
	transform-origin: 20%;
}

.directionRight .image {
	transform: rotateY(30deg);
	transform: rotateY(30deg) scaleX(calc(1 / cos(30deg)));
	transform-origin: 80%;
}

.directionLeft .imageContainer {
	perspective-origin: right;
}

.directionRight .imageContainer {
	perspective-origin: left;
}

.directionLeft .nameContainer {
	perspective-origin: right;
	bottom: 1rem;
	left: 2rem;
	transform: translateX(0);
}

.directionRight .nameContainer {
	perspective-origin: left;
	bottom: 1rem;
	transform: translateX(calc(-100% - 2rem));
	left: 100%;
}

.card:hover .image {
	transform: rotateY(0deg) scaleX(1);
	filter: brightness(1);
}

.card:hover .name {
	transform: rotateY(0deg);
}

.date,
.price {
	margin-top: 1rem;
	font-size: 2rem;
	font-size: 1.5rem;

	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	color: white;
	border: 2px solid gray;
	border-radius: 1rem;
	display: inline-block;
	filter: brightness(0.8);
	transition: brightness 0.3s ease;
}
.price {
	margin-right: 1rem;
}

.card:hover .date {
	filter: brightness(1);
}
.card:hover .price {
	filter: brightness(1);
}

.infoContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-left: 2rem;
	padding-right: 2rem;
	box-sizing: border-box;

	perspective: 30rem;
	perspective-origin: left;
}
